body {
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  height: 100%;
}

#app {
  height: 100%;
}

.v-prism-title {
  text-indent: 2em;
  font-size: 16px;
}

.v-prism-txt {
  text-indent: 2em;
  font-size: 14px;
  line-height: 2;
}

.v-prism-txt a {
  color: #4a4ad4;
  text-decoration: underline;
}

.v-prism-note {
  font-size: 20px;
  color: #cd0200;
}
